/* Import Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

div#login-form {
  width: 500px;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 16%), 0 8px 10px 1px rgb(0 0 0 / 11%),
    0 3px 14px 2px rgb(0 0 0 / 10%);
}

/* Dashboard Design */

div#dashboard {
  width: 70%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 16%), 0 8px 10px 1px rgb(0 0 0 / 11%),
    0 3px 14px 2px rgb(0 0 0 / 10%);
}

#dashboard .ui-tabs-vertical {
  width: 100%;
}

#dashboard .ui-widget.ui-widget-content {
  border: none !important;
}

#dashboard .ui-tabs-vertical .ui-tabs-nav {
  padding: 20px 10px;
  width: 20%;
  height: 100%;
}
#dashboard .ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px 0.2em 0;
}
#dashboard .ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
}
#dashboard .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: 0.1em;
  border-right-width: 1px;
}

#dashboard .ui-tabs-vertical .ui-tabs-panel {
  width: 80%;
  margin-top: 0;
  padding-top: 0;
}

#dashboard .ui-widget-header {
  background: transparent;
  border: 0 !important;
  background-color: #e7f1ff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}

#dashboard .ui-tabs .ui-tabs-panel {
  background: transparent;
  border: 0 !important;
  background-color: #e7f1ff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
  padding-top: 10px;
}
